<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-md-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="card m-3" style="width: 18rem;">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="card-text"><%= campground.name %></p>
      </div>
      <div class="card-footer">
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary btn-sm">More...</a>
    </div>
    </div>

        <% }) %>
    </div>
</div>
</div>
<% include ../partials/footer %>
