<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>View our handpicked campgrounds</p>
        <p> <a class="btn btn-primary btn-large" href="/campgrounds/new"> Add a new campground</a>
        </p>
    </div>
    </header>
    <div class="container">
    <div class="row">
        <div class="col">
            <h3>Some Awesome Campgrounds</h3>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
      <div class="card-body">
        <p class="card-text"><%= campground.name %></p>
        <p>
        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More...</a></p>
      </div>
    </div>

        <% }) %>
    </div>
</div>
</div>
<% include ../partials/footer %>
