<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
    <h1>Add a New Campground </h1>
    <div class="section">
        <form action="/campgrounds" method="POST">
            <div class="form-group row">
                <label class="col-sm-2" for="inputname">Name</label>
                <input class="form-control col-sm-10 col-md-8" type="text" name="name" id="inputname" placeholder="Campground Name">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="inputprice">Price</label>
                <input class="form-control col-sm-10 col-md-8" type="number" name="price" id="inputprice" placeholder="price per night" min="0.01" step="0.01">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="inputimg">Nice Image</label>
                <input class="form-control col-sm-10 col-md-8" type="text" name="image" id="inputimg" placholder="image.url">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="inputdesc">Description</label>
                <input class="form-control col-sm-10 col-md-8" type="text" name="description" id="inputdesc" placholder="More details about your campground">
            </div>
            <div class="row justify-content-sm-center">
                <div class="col-sm-auto">
                    <button class="btn btn-primary">Submit!</button>
                </div>
                <div class="col-sm-auto">
                <a class="btn btn-danger" href="/campgrounds">Cancel</a>
            </div>
            </div>

        </form>
    </div>
</div>
</div>
</div>
<% include ../partials/footer %>
